<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New Tab</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <canvas id="canvas" width="350" height="350"></canvas>
    <canvas id="minuteCanvas" width="250" height="250"></canvas>
    <canvas id="secondCanvas" width="250" height="250"></canvas>
    <canvas id="hourCanvas" width="250" height="250"></canvas>

    <script type="text/javascript" src="/static/js/animate.js"></script>
</body>
</html>